* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #fff;
  font-family: Georgia, Times, serif;
  font-size: 14px;
  line-height: 1.4;
}

.wrap  {
  width: 100%;
}

h1, 
h2 small {
  font-family: 'Playfair Display', serif;
}

.hero_caption,
.header-nav_menu a,
.media_title,
.footer_title,
.hero_cta {
  font-family: "Montserrat", sans-serif;
}

img {
  vertical-align: top;
}

header, 
main,
a {
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #da7074;
}

footer,
footer a {
  color: #000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*Shared styles*/
.main,
.header-nav_menu,
.header-nav_menu ul,
.footer
{
  display: flex;
}

.header-nav a,
.hero_cta,
.hero_cta:before, .hero_cta:after, 
.cta_bottom-bar, .cta_bottom-bar:after,
.burger_bar {
  display: block;
}

.hero_cta,
.media_group,
.cta_bottom-bar {
  position: relative;
}

.header-nav,
.media_caption,
.cta_bottom-bar:after,
.hero_cta:before, .hero_cta:after {
  position: absolute;
}

.cta_bottom-bar:after,
.hero_cta:before, .hero_cta:after {
  content: '';
}

/*Screen reader*/
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
/*END Screen reader*/

/*HEADER*/
.header-nav {
  top: 0;
  left: 0;
}

  .header-nav a:not(.brand_link) {
  	padding: 0 1em;
  }

  .header-nav_menu {
    flex-flow: row nowrap;
    border-bottom: 1px solid #fff;
    padding: 1em 0 3em;
    width: 90%;
    margin: 0 auto;
  }
	
    .header-nav_menu ul {
      margin: auto;
      text-transform: uppercase;
      font-weight: 700;
    }
	
	.header-nav_menu .header-nav_main {
	  display: none;
	  background-color: #000;
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  z-index: 5;
	}

	  .header-nav_menu .header-nav_main li {
	  	margin: auto;
	  }

    .header-nav_menu .header-nav_aside {
      margin-right: 0;
    }   

      .search_btn {
      	padding: 0 1.5em;
      }

        .search_btn i {
    	    font-size: 1.5rem;
        }

        .burger_btn {
    	    padding: 0.9em 0 0;
        }
    
        .burger_bar {
    	    height: 3px;
    	    background-color: #fff;
        }
    
        .burger_bar:nth-child(2) {
          width: 30px;
          transform: translateX(4px);
        }
    
        .burger_bar:nth-child(odd) {
    	    width: 34px;
        }
    
        .burger_bar:first-child{
          transform: translateY(-4px);
        }
    
        .burger_bar:nth-child(3) {
    	    transform: translateY(4px);
        }

/*END HEADER*/

/*MAIN*/
.main {
  flex-flow: column nowrap;
}

/*Hero*/
.hero {
  background: #000 url('../img/hero-background.jpg') no-repeat top left;
  background-size: cover;
  text-align: center;
  padding: 10em 1em 3em;
  overflow: hidden;
}

  .hero_title {
    font-size: 5rem;
    margin: 0.25em 0;
    font-weight: 400;
  }

  .hero-caption {
    font-size: 1rem;
    font-weight: 300;
  }

  .hero_cta {
    background-color: #da7074;
    width: 163px;
    height: 46px;
    margin: 7em auto 0;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: 700;
	  line-height: 3.3;
  }

  	.hero_cta:before,
	.hero_cta:after, 
	.cta_bottom-bar,
	.cta_bottom-bar:after{
	  background-color: #da7074;
	} 

	.hero_cta:before,
	.hero_cta:after {
	  width: 190px;
	  height: 1px;
  	top: 50%;
	}

    .hero_cta:before {
      transform: translateX(-100%);
    }

    .hero_cta:after {
      transform: translateX(86%);
    }

    .cta_bottom-bar,
    .cta_bottom-bar:after {
      height: 190px;
      width: 1px;
    }

    .cta_bottom-bar {
      transform: translate3d(5.5em, 2em, 0);
    }

      .cta_bottom-bar:after {
      	top: 10%;
      	transform: translateX(0.5em);
      }

  .hero_video-play {
  	margin-top: 20em;
	  width: 80px;
	  height: 80px;
	  border: 2px solid #fff;
	  border-radius: 50%;
	  color: #fff;
  }

    .hero_video-play i {
	  font-size: 3rem;
	  margin-left: 0.15em;
    }

/*Media_group*/
.media_group {
  margin: 0;
}

  .media_caption {
  	width: 100%;
  	text-align: center;
    top: 65%;  
  }
    
    .media_title {
	    font-weight: 600;
      font-size: 1.125rem;
    }
      
      .media_title > span  {
      	font-family: Georgia;
      	font-weight: 400;
      	font-style: italic;
      }
    
    .media_img-responsive {
      max-width: 100%;
      height: auto;
    }

/*END MAIN*/

/*FOOTER*/
.footer {
  flex-flow: row wrap;
}
  
  .footer .wrap:first-child {
  	padding: 2em 0;
  }
    
    .footer_nav,
    .footer_message {
      padding: 0.5em 1em;
    }

      .footer li, 
      .footer p  {
        font-style: italic;    
      }

      .footer_title {
        font-weight: 700;
        font-size: 0.875rem;
      }

  .footer .wrap:last-child {
  	background-color: #000;
  	text-align: center;
  	padding: 2em 0;
  }

    .copyright {
      color: rgba(255, 255, 255 , 0.2);
	    font-size: 0.75rem;
    }

/*End FOOTER*/

@media screen and (min-width: 480px) {

	.media, 
  .footer .wrap:first-child {
	display: flex;
	flex-flow: row wrap;
  }

  .media_group {
	flex: 1 50%;	 
  }

  .footer_nav {
  	flex: 1;
  }
	
}

@media screen and (min-width: 640px) {
	
  .header-nav_menu .header-nav_main {
    position: inherit;
    display: flex;
    width: auto;
    height: auto;
    flex: 1;
    justify-content: center;
    background: none;
  }	

    .header-nav_menu .header-nav_main li {
      margin: auto 1em;
    }

  .media_group {
  	flex: 1 50%;
  }

  .footer .wrap:first-child {
  	padding: 5em 10%;
  }

}

@media screen and (min-width: 960px) {
	
  .header-nav_menu {
    padding: 5.7em 0;
  }

  .hero {
  	padding-top: 28em;
  }

    .hero_title {
      font-size: 8.75rem;
    }
  
    .hero_caption {
      font-size: 1.25rem;
    }

  .media_group {
    flex: 1 0;
  }

  .footer_message {
  	flex: 1;
  }

}